@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header{
    flex: 2;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
}
   
.header h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.header p, .header li{
    font-size: 18px;
    color: #e5e7eb;
}

.header h3{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.navbar > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}


/* Gallery */

.gallery{
    /* display: flex; */
}

/* Quote */

.quote{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}

/* Banner */

.banner{
    display: flex;
    flex-direction: row;
    margin: 5% 15% 5% 15%;
    background-color: #3882f6;
    justify-content: space-around;
}

/* .banner h3{
    color: #f9faf8;
} */

.banner-text{
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.banner > button{
    /* height: 30%;
    width: 15%; */
    box-sizing: border-box;
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    /* padding: 0.5% 6% 0.5% 6%; */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}