@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header{
    /* flex: 2; */
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}
   
.header h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.header p, .header li{
    font-size: 18px;
    color: #e5e7eb;
}

.header h3{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.navbar > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}

.header-main{
    display: flex;
    gap: 10px;
    padding-top: 10%;
    
}

.header-text{
    /* margin: auto; */
    padding-right: 2%;
    align-self: center;
}

.header-main h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #f9faf8;
}

.header-main p {
    color: #e5e7eb;
    font-size: 18px;
    margin-block-start: 0.1em;
    margin-block-end: 0.6em;
}

.header-main button {
    padding: 2% 7% 2% 7%;
    background-color: #3882f6;
    border-style: none;
    border-radius: 7px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.header-main button:hover{
    background-color: #f9faf8;
    color: #3882f6;
}

.header-main img{
    width: 50vw;
    height: 16vh;
    /* padding-top: 6%; */
    align-self: center;
}

/* Gallery */

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0% 5% 0%
}

.gallery h2{
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.gallery-pics{
    display: flex;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;
}

.pic {
    max-width: fit-content;
    flex-basis: 158px; /* width of each gallery pic */
}

.pic img{
    border: 4px solid #3882f6;
    border-radius: 7px;
}

.pic p{
    margin-block-start: 0.5em;
    text-align: center;
    color: #525C69;
}

/* Quote */

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    padding: 5% 25% 5% 25%;
    font-size: 36px;
    /* font-weight: lighter; */
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote p{
    margin-block-end: 0.5em;
}

.quote #thor{
    margin-block-start: 0em;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    text-align: right;
    margin-right: 5%;
}

/* Banner */

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5% 15% 5% 15%;
    padding: 2% 10% 2% 10%;
    border-radius: 8px;
    background-color: #3882f6;
}

.banner-text{
    display: flex;
    flex-direction: column;
    margin-left: -10%;
}

.banner-text h3{
    margin-block-end: 0.2em;
    color: #f9faf8;
}

.banner-text p{
    margin-block-start: 0em;
    color: #d7dbe2;
    font-size: 15px;
}

.banner button{
    margin-left: 5%;
    margin-right: -10%;
    padding: 1% 5% 1% 5%;
    border-radius: 7px;
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    border-style: solid;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.banner button:hover{
    background-color: #f9faf8;
    border-color: #3882f6;
    color: #3882f6;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #1f2937;
    font-size: 15px;
    color: #e5e7eb;
}